pipeline {
    agent any
	parameters {
		choice(choices: ['WN_1ST', 'WN_2ND'], description: 'Please choose the build configuration?', name: 'configuration')
    }
    stages {
		stage('Build') {
			steps {
				cleanWs()
				checkout scm
				echo "Build Version ${GIT_COMMIT}"
			}
		}
		stage('Deployment') {
			steps{
				script {
					def configuration = params.configuration;
					echo "Deploy ${configuration} Configuration On KERRY_WN01 Station"
					sh "python3.6 ${WORKSPACE}/transfer_stations.py 172.16.10.4 root 2012_noVemBer_02 22 ${configuration}"		
				}
			}
		}
	}
}
