pipeline {
    agent any
	parameters {
        choice(choices: ['Dev', 'Release'], description: 'Please choose the build configuration?', name: 'configuration')
		choice(choices: ['WN_1ST', 'WN_2ST', 'THRPT', 'WN_LITE', 'NFT'], description: 'Please choose the build configuration?', name: 'configuration')
		string(defaultValue: "172.16.10.2", description: 'What is your server ip?', name: 'ip')
		string(defaultValue: "22", description: 'What is your server port?', name: 'port')
		
    }
    stages {
		stage('Build') {
			steps {
				cleanWs()
				checkout scm
				echo "Build Version ${GIT_COMMIT}"
			}
		}
	}
}
