pipeline {
    agent any
	parameters {
		choice(choices: ['WN_LITE_PAIRING', 'WN_LITE_POT_RESET', 'WN_LITE_POT_READ', 'WN_LITE_CONVERSION'], description: 'Please choose the build configuration?', name: 'configuration')
    }
    stages {
		stage('Build') {
			steps {
				cleanWs()
				checkout scm
				echo "Build Version ${GIT_COMMIT}"
			}
		}
		stage('Deployment') {
			steps{
				script {
					def configuration = params.configuration;
					echo "Deploy ${configuration} Configuration On KERRY_WN_LITE01 Station Test"
					sh "python3.6 ${WORKSPACE}/transfer_stations.py 172.16.10.2 root 2012_noVemBer_02 22 ${configuration}"		
				}
			}
		}
		stage('Clean Workspace') {
			steps {
				cleanWs()
			}
		}
	}
}
