pipeline {
    agent any
	parameters {
		choice(choices: ['THRPT'], description: 'Please choose the build configuration?', name: 'configuration')
    }
    stages {
    		
		stage('Build') {
			steps {
				cleanWs()
				checkout scm
				echo "Build Version ${GIT_COMMIT}"
			}
		}
		stage('Deployment') {
			steps{
				script {
					 withCredentials([usernamePassword(credentialsId: 'centos-ssh-pwd', usernameVariable: 'username', passwordVariable: 'password')]){
					      def remote = [:]
					      remote.name = 'centos-ssh'
					      remote.host = 'centos'
					      remote.user = username
					      remote.password = password
					      remote.allowAnyHosts = true
					      sshCommand remote: remote, command: "rm -rf /home/app-admin/ITS3-CONFIG-DEV-RELEASE/"
        				      sshCommand remote: remote, command: "git init"
        				      sshCommand remote: remote, command: "git clone 'https://anhtran:We!come1210@github.netgear.com/OperationTestEngineering/ITS3-CONFIG-DEV-RELEASE.git'"
					      sshCommand remote: remote, command: "rm -rf /home/app-admin/ITS3-CONFIG-DEV-RELEASE/"
					 }
				}
			}
		    
		}
		stage('Clean Workspace') {
			steps {
				cleanWs()
			}
		}
	}
}
