pipeline {
    agent any
	parameters {
		choice(choices: ['WN_1ST', 'WN_2ST', 'THRPT', 'WN_LITE', 'NFT'], description: 'Please choose the build configuration?', name: 'configuration')
		string(defaultValue: "172.16.10.2", description: 'What is your server ip?', name: 'ip')
		string(defaultValue: "22", description: 'What is your server port?', name: 'port')
		
    }
    stages {
		stage('Build') {
			steps {
				cleanWs()
				checkout scm
				echo "Build Version ${GIT_COMMIT}"
			}
		}
		stage('Deployment') {
			steps{
				script {
					def ip = params.ip;
					def port = params.port;
					def station = params.configuration;
					echo "Deploy Configuration ${WORKSPACE}"
					echo "Current Dir ${PWD}"
					sh "python --version"
					sh "python3.6 --version"
					sh "python3.6 ${WORKSPACE}/transfer_stations.py ${ip} root 2012_noVemBer_02 ${port} ${station}"
				}
			}
		}
	}
}
